---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<p>
			I've graduated from the University of Minnesota, holding a dual undergraduate degree in
			computer science and mathematics, and a master's in data science. Currently, I'm employed as a
			full-stack developer for the university.
		</p>
		<p>
			During my academic journey, I bolstered my credentials with two backend software engineering
			internships and roles as a graduate teaching assistant, guiding students through courses in
			full-stack web development and data structures & algorithms.
		</p>
		<p>
			On the technical front, I have honed my skills in frontend technologies like HTML, CSS,
			JavaScript, TypeScript, Vue.js, Express.js, React.js and Tailwind.css. Backend-wise, I'm adept
			in Java and Python, the latter being intensively used in my capstone project. My expertise
			also covers database design and optimization, especially within SQL/NoSQL frameworks. Further,
			I'm well-acquainted with Spring Boot, cloud solutions like AWS and Azure, and tools including
			Maven, Gradle, and GitHub.
		</p>

		<p>
			Eager to continuously evolve, I'm always on the lookout for learning new technologies. For a
			comprehensive overview of my projects and experiences, I invite you to explore my <a
				class="cactus-link inline-block"
				href="https://peterwang0209.com"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="personal website">website</a
			>
		</p>
	</div>
</PageLayout>
